doctype html
html
  head
    title Main Page
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
    link(
      rel='stylesheet'
      href='stylesheets/main.css'
    )
  body
    .nav
      a.left(href='main') HK Cinema
      a.right(href='logout') Logout
      a.right(href='history') Purchase History
      a.right(href='comment') Movie Review
      a.right(href='buywelcome') Buy A Ticket
    main
      .centered
        h1#name HK Cinema
        h1#slogan Enjoy the film in our best cinema
